<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.tsukiliaro.feeders">

    <application
        android:allowBackup="true"
        android:icon="@drawable/head"
        android:label="@string/app_name"
        android:roundIcon="@drawable/head"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Options" />
        <activity android:name=".Tutorial"></activity>
    </application>

</manifest>